In [1]:
#List of High Schools
high_schools=["Hernandez High School","Figueroa High SChool","Wilson High School","Wright High SChool"]

In [3]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High SChool
Wilson High School
Wright High SChool

In [29]:
#a dictionary of high schools and the typ of school.

high_school_types=[{"High School":"Griffin","Type":"District"}, {"High SChool":"Figueroa","Type":"District"},{"High School":"Wilson","Type":"Charter"}, {"High School":"Wright","Type":"Charter"}]

for school_dict in high_school_types:
        print(school_dict)

{'High School': 'Griffin', 'Type': 'District'}
{'High SChool': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [17]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [6]:
#add the pandas dependency
import pandas as pd

In [7]:
#create a pandas series from a list.
school_series=pd.Series(high_schools)

NameError: name 'high_schools' is not defined

In [ ]:
school_series

In [8]:
for i in range(len(school_series)):
    print(school_series[i])

NameError: name 'school_series' is not defined

In [9]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [10]:
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [11]:
# Three seperate list of information on high schools
school_id=[0,1,2,3,4]

school_name=["Huang High School", "Figueroa High School","Shelton High School","Hernandez High School","Griffin High School"]

type_of_school=["District","District","Charter","District","Charter"]

In [29]:
#intialize a new DataFrame.
schools_df = pd.DataFrame()

In [30]:
#Add the list to a new DataFrame.
schools_df["School Id"] = school_id

In [31]:
schools_df["School Name"] =school_name

In [32]:
schools_df["Type"]=type_of_school

In [33]:

#print the DataFrame.
schools_df

   School Id            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [34]:
#create a dictionary of information of the high schools

high_school_dict={'School Id':school_id,'school_name':school_name,'type':type_of_school}

In [35]:
#create a dataframe from high schools dict
high_schools_df=pd.DataFrame()

In [39]:
high_schools_df['School ID']= school_id
high_schools_df['school_name']= school_name
high_schools_df['type']=type_of_school

high_schools_df

   School ID             school_nam      type            school_name
0          0      Huang High School  District      Huang High School
1          1   Figueroa High School  District   Figueroa High School
2          2    Shelton High School   Charter    Shelton High School
3          3  Hernandez High School  District  Hernandez High School
4          4    Griffin High School   Charter    Griffin High School

In [40]:
school_df.columns

Index(['School ID', 'school_name', 'type', 'School Name', 'Type'], dtype='object')

In [41]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [42]:
school_df.values

array([[0, 'Huang High School', 'District', 'Huang High School',
        'District'],
       [1, 'Figueroa High School', 'District', 'Figueroa High School',
        'District'],
       [2, 'Shelton High School', 'Charter', 'Shelton High School',
        'Charter'],
       [3, 'Hernandez High School', 'District', 'Hernandez High School',
        'District'],
       [4, 'Griffin High School', 'Charter', 'Griffin High School',
        'Charter']], dtype=object)

In [45]:
#make 3 seperate list for new dataFrame

School_ID=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,]
School_Name=["Huang High School","Figueroa High School","Shelton HIgh School","Hernandez High School"," Griffin High School","Wilson High School",
             "Cabrera High School","Bailley High School","Holden High School","Pena High SChool","Wright High School","Rodriguez High SChool","Johnson High SChool","Ford High School","Thomas High School"]
School_Type=["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

In [46]:
#Intialize a new dataframe.
New_Schools_DF =pd.DataFrame()

In [47]:
#Add lists to dataframe

New_Schools_DF[ "School ID"]=School_ID
New_Schools_DF[" School Name"] =School_Name
New_Schools_DF[" Type"]=School_Type

In [48]:
New_Schools_DF

    School ID            School Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton HIgh School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7    Bailley High School  District
8           8     Holden High School   Charter
9           9       Pena High SChool   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High SChool  District
12         12    Johnson High SChool  District
13         13       Ford High School  District
14         14     Thomas High School   Charter

In [ ]:
import pandas as pd
import os

Student_data